<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<!--<style type="text/css">
			#list {
				/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
				margin-top: -1px;
			}
		</style>   -->
		
	</head>

	<body> 
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
			<!--<ul id="ullist" class="mui-table-view mui-table-view-chevron">
				
			</ul>-->
			<ul id="ullist" class="mui-table-view mui-table-view-chevron">
				<script id="ul-li-template" type="text/html">	
		  <% for(var i=0;i<list.length;i++){%>	
				<li id='li<%=list[i].userInfo.user_id %>' class="mui-table-view-cell">
					<!--<a class="mui-navigate-right" open-type="common" href="user-info.html" >-->
						<div class="oa-contact-cell mui-table">
							<div class="oa-contact-avatar mui-table-cell" style="width: 35%;vertical-align: middle;">
								
								<% if(list[i].userInfo.heading!=""){%>
								<img src='<%=list[i].userInfo.heading %>' style="width: 60px; height: 60px;" />
								<%}else{%>
									<img src="images/60x60.gif" style="width: 60px; height: 60px;" />
								<%}%>
							</div>
							<div class="oa-contact-content mui-table-cell">
								<div class="mui-clearfix">
									<h4 class="oa-contact-name"><%=list[i].userInfo.nickname %></h4>
									<span class="oa-contact-position mui-h6"><%=list[i].userInfo.sex %></span>
									<span class="oa-contact-position mui-h6"><%=list[i].userInfo.singleOrdouble %></span>
									<span class="oa-contact-position mui-h6"><%=list[i].userInfo.job %></span>
								</div>
								<p class="oa-contact-email mui-h6">
									个人宣言：aaa@sina.com
								</p>
							</div>
						</div>
					<!--</a>-->
				</li>	
				
				<%}%>
			</script>	  
			</ul>
			</div>				
		</div>
		
	
		
		
		<script src="./js/mui.min.js"></script>	
		<script src="./js/hyappCommon.js"></script>
		<!--<script src="./js/mui.lazyload.js"></script>
	    <script src="./js/mui.lazyload.img.js"></script>	-->	
	    <script src="./js/arttmpl.js"></script>	
		
		<script>
			var aniShow = "pop-in";
			 //只有ios支持的功能需要在Android平台隐藏；
			if (mui.os.android) {
				var list = document.querySelectorAll('.ios-only');
				if (list) {
					for (var i = 0; i < list.length; i++) {
						list[i].style.display = 'none';
					}
				}
				//Android平台暂时使用slide-in-right动画
				if(parseFloat(mui.os.version)<4.4){
					aniShow = "slide-in-right";
				}
			}
			//初始化，并预加载webview模式的选项卡			
			/*function preload () {
				mui.preload({
					url:'examples/tab-webview-main.html',
					styles: {
						popGesture: 'hide'
					}
				});
				mui.preload({
					url:"examples/pullrefresh_main.html",
					styles:{
						popGesture:'hide'
					}
				});
			}
			var templates = {};
			var getTemplate = function(name, header, content) {
				var template = templates[name];
				if (!template) {
					//预加载共用父模板；
					var headerWebview = mui.preload({
						url: header,
						id: name + "-main",
						styles: {
							popGesture: "hide",
						},
						extras: {
							mType: 'main'
						}
					});
					//预加载共用子webview
					var subWebview = mui.preload({
						url: !content ? "" : content,
						id: name + "-sub",
						styles: {
							top: '45px',
							bottom: '0px',
						},
						extras: {
							mType: 'sub'
						}
					});
					subWebview.addEventListener('titleUpdate', function() {
						setTimeout(function() {
							subWebview.show();
						}, 50);
					});
					subWebview.hide();
					headerWebview.append(subWebview);
					//iOS平台支持侧滑关闭，父窗体侧滑隐藏后，同时需要隐藏子窗体；
					if (mui.os.ios) { //5+父窗体隐藏，子窗体还可以看到？不符合逻辑吧？
						headerWebview.addEventListener('hide', function() {
							subWebview.hide("none");
						});
					}
					templates[name] = template = {
						name: name,
						header: headerWebview,
						content: subWebview,
					};
				}
				return template;
			};
			var initTemplates = function() {
				getTemplate('default', 'examples/template.html');
			};*/
			mui.plusReady(function() {
				//读取本地存储，检查是否为首次启动
				var showGuide = plus.storage.getItem("lauchFlag");
				if(showGuide){
					//有值，说明已经显示过了，无需显示；
					//关闭splash页面；
					plus.navigator.closeSplashscreen();
					plus.navigator.setFullscreen(false);
					//初始化模板
					//initTemplates(); 
					//预加载
					//preload();
				}else{
					//显示启动导航
					mui.openWindow({
						id:'guide',
						url:'examples/guide.html',
						show:{
							aniShow:'none'
						},
						waiting:{
							autoShow:false
						}
					});
					//延迟的原因：优先打开启动导航页面，避免资源争夺
					/*setTimeout(function () {
						//初始化模板
						initTemplates(); 
						//预加载
						preload();
					},200);*/
				}
			});
			 //主列表点击事件
			mui('#ullist').on('tap', 'a', function() {
				var id = this.getAttribute('href');
				var href = this.href;
				var type = this.getAttribute("open-type");
				//不使用父子模板方案的页面
				if (type == "common") {
					var webview_style = {
						popGesture: "close"
					};
					//侧滑菜单需动态控制一下zindex值；
					if (~id.indexOf('offcanvas-')) {
						webview_style.zindex = 9998;
						webview_style.popGesture = ~id.indexOf('offcanvas-with-right') ? "close" : "none";
					}
					//图标界面需要启动硬件加速
					if(~id.indexOf('icons.html')){
						webview_style.hardwareAccelerated = true;
					}
					mui.openWindow({
						id: id,
						url: this.href,
						styles: webview_style,
						show: {
							aniShow: aniShow
						},
						waiting: {
							autoShow: false
						}
					});
				} else if (id && ~id.indexOf('.html')) {
					/*if (!mui.os.plus || (!~id.indexOf('popovers.html')&&mui.os.ios)) {
						mui.openWindow({
							id: id,
							url: this.href,
							styles: {
								popGesture: 'close'
							},
							show: {
								aniShow: aniShow
							},
							waiting: {
								autoShow: false
							}
						});
					} else {
						//TODO  by chb 当初这么设计，是为了一个App中有多个模板，目前仅有一个模板的情况下，实际上无需这么复杂
						//使用父子模板方案打开的页面
						//获得共用模板组
						var template = getTemplate('default');
						//判断是否显示右上角menu图标；
						var showMenu = ~href.indexOf('popovers.html') ? true : false;
						//获得共用父模板
						var headerWebview = template.header;
						//获得共用子webview
						var contentWebview = template.content;
						var title = this.innerText.trim();
						//通知模板修改标题，并显示隐藏右上角图标；
						mui.fire(headerWebview, 'updateHeader', {
							title: title,
							showMenu: showMenu,
							target:href,
							aniShow: aniShow
						});
						
						if(mui.os.ios||(mui.os.android&&parseFloat(mui.os.version)<4.4)){
							var reload = true;
							if (!template.loaded) {
								if (contentWebview.getURL() != this.href) {
									contentWebview.loadURL(this.href);
								} else {
									reload = false;
								}
							} else {
								reload = false;
							}
							(!reload) && contentWebview.show();
							
							headerWebview.show(aniShow, 150);
						}
					}*/
				}
			});
			
			
			var index = null; //主页面
			function openMenu() {
				!index && (index = mui.currentWebview.parent());
				mui.fire(index, "menu:open");
			}
			//在android4.4.2中的swipe事件，需要preventDefault一下，否则触发不正常
			window.addEventListener('dragstart', function(e) {
				mui.gestures.touch.lockDirection = true; //锁定方向
				mui.gestures.touch.startDirection = e.detail.direction;
			});
			window.addEventListener('dragright', function(e) {
				if (!mui.isScrolling) {
					e.detail.gesture.preventDefault();
				}
			});
			 //监听右滑事件，若侧滑菜单未显示，右滑要显示菜单；
			window.addEventListener("swiperight", function(e) {
				//默认滑动角度在-45度到45度之间，都会触发右滑菜单，为避免误操作，可自定义限制滑动角度；
				if (Math.abs(e.detail.angle) < 4) {
					openMenu();
				}
			});
		</script> 
		
		<script>	 
			mui.init({
				/*preloadPages:[{
				    id:'user-info.html',
				    url:'user-info.html'           
				  }
				  ],*/
				swipeBack: false,
				 /*preloadPages:[{
				    id:'list-userinfodetail.html',
				    url:'list-userinfodetail.html'           
				  }
				  ],*/
				pullRefresh: {
					container: '#pullrefresh',
					/*down: {
						callback: pulldownRefresh
					},*/
					up : {
				    //height:50,//可选.默认50.触发上拉加载拖动距离
				    //auto:true,//可选,默认false.自动上拉加载一次
				    contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
				    contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
				    callback :pullupRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                       }
				}
			});
			
			var isRefreshIng=false;  //是否正在加载数据，如果正在加载数据就暂时不允许上拉加载，防止重复数据展示在<li>
		    
			mui.plusReady(function(){
					pullupRefresh();
				});
			
			/**【上拉加载具体业务实现】
			 */ 
			 var count = 0;		
			 var currentLiEventIndex=0;  //当前完成绑定li下标次数；用于下拉刷新时，判断未绑定事件的li
			 var usersTotalnum=37;//li的总数，需要查询数据库TODO
			 var perOfnum=6;//每页刷新5条记录
			 var upRefreshCount=Math.ceil(usersTotalnum/perOfnum);//可以下拉刷新次数=li总数/每页展示数目
			// alert("upRefreshCount"+upRefreshCount);
			var fresh=0;
			function pullupRefresh() {	 			
				if(fresh==0)
				{ 
							fresh=1;
							setTimeout(function(){
							isRefreshIng=true;
								var configData1=getAllUserLimitBystartandEnd(currentLiEventIndex,perOfnum);
								 mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count>upRefreshCount)); //参数为true代表没有更多数据了。							
					          fresh=0;   	  			          
							},10);  	 					
				}
			}	 
			
			
				//从后端获取每页数据
			function getAllUserLimitBystartandEnd(start,end){
				var func_url=ServerUrl.IP+"/tan.maven.springmvc Maven Webapp/users.do?method=getAllUserLimit&callback='jsoncallback'"; 
                mui.ajax(func_url,{ 
				        	data:{				
								start:start,end:end
							},
							dataType:'jsonp',//服务器返回json格式数据
							async:false,
							//dataType:'json',
							type:'post',//HTTP请求类型
							//timeout:8000,//超时时间设置为10秒；
							jsonp:"jsoncallback",   
							success:function(data){ 								
								// console.log("测试："+data);    
							    var configData=JSON.parse(data);        //解析数据 cinfig：OK
								 if(configData && configData.length>0)
								 {
								 	var n=TemplateViewData(configData);
								 }
							},
							error:function(xhr,type,errorThrown){
								//异常处理； 
								console.log(xhr.Message+"  "+type+" "+errorThrown);
							}  
						}); 
						console.log("dddddddddddddddd "+count+" >>"+fresh);
			}
			
			//模板展示数据
		   function TemplateViewData(configData)
			{			
				var data={
					list:configData
				};
				var html=template('ul-li-template',data);		//模板展示多条数据	
				
			   document.getElementById("ullist").innerHTML=document.getElementById("ullist").innerHTML+html;
				//document.body.removeAttribute('data-imagelazyload');
				//setTimeout(function(){
						//mui('#pullrefresh').imageLazyload({ 
						//  placeholder: './images/logo.png'   
					   // });  
					   //},1000);  
			   // setTimeout(function(){  //【切记】不要加setTimeout 否则有重复数据
			     liTapEvent(data);//【重点】
			     //liTapEvent(configData); 
			  // },3000);
			    isRefreshIng=false;
			}
			
			//模板展示数据
		   /*function TemplateViewData(configData)
			{			
				var data={
					list:configData
				};
				console.log("data: "+data.list);
				//var html=template('ul-li-template',data);		//模板展示多条数据	
				
				for(var i=0;i<data.list.length;i++) 
				{
				var html="<li class='mui-table-view-cell'>"+
					"<a class='mui-navigate-right' open-type='common' href='5.html'>"+
						"<div class='oa-contact-cell mui-table'>"+
							"<div class='oa-contact-avatar mui-table-cell' style='width: 35%;vertical-align: middle;'>"+
								"<img src='"+data.list[i].userInfo.heading+"' style='width: 60px; height: 60px;' />"+
							"</div>"+
							"<div class='oa-contact-content mui-table-cell'>"+
								"<div class='mui-clearfix'>"+
									"<h4 class='oa-contact-name'>"+data.list[i].userInfo.nickname+"</h4>"+
									"<span class='oa-contact-position mui-h6'>"+data.list[i].userInfo.sex+"</span>"+
									"<span class='oa-contact-position mui-h6'>"+data.list[i].userInfo.singleOrdouble+"</span>"+
									"<span class='oa-contact-position mui-h6'>"+data.list[i].userInfo.job +"</span>"+
								"</div>"+
								"<p class='oa-contact-email mui-h6'>"+
									"个人宣言：bbbb@sina.com"+
								"</p>"+
							"</div>"+
						"</div>"+
					"</a>"+
				"</li>";
				
			   document.getElementById("ullist").innerHTML=document.getElementById("ullist").innerHTML+html;
			  }
				//document.body.removeAttribute('data-imagelazyload');
				//setTimeout(function(){
						//mui('#pullrefresh').imageLazyload({ 
						//  placeholder: './images/logo.png'   
					   // });  
					   //},1000);  
			    //setTimeout(function(){  //【切记】不要加setTimeout 否则有重复数据
			    	console.log("hhhhhhhhhhh "+count+" >>"+fresh);    
			     liTapEvent(data);
			  //},5000); 
			    isRefreshIng=false;
			    console.log("gggggggggggggg "+count+" >>"+fresh);  
			}*/
			
			
			
			/**【f_liTapEvent方法】【li的点击事件绑定】
			 * 每次刷新绑定5条li事件，会调用【LiEventDetail方法触发跳转并传值】
			 */
			function liTapEvent(viewData)
			{
				//currentLiEventIndex=currentLiEventIndex+5;
				    for(var licc=0;licc<viewData.list.length;licc++)
				    {
				       LiEventDetail('#li'+viewData.list[licc].userInfo.user_id,viewData.list[licc]);  
				       currentLiEventIndex++;
				    }
				    
			} 
	
			
			/*【LiEventDetail】【li的点击事件后跳转并传值】
			 */
			var detailPage=null;
			function LiEventDetail(lin,liData){				
				
				mui(".mui-table-view").on('tap',lin,function(){
					  //获取id
					  /*var id = this.getAttribute("id");
					   if(!detailPage){
					    detailPage = plus.webview.getWebviewById('user-info.html');
					  }*/
					   
					   var storage = window.localStorage;				
				       storage.setItem("checkUser_userId",liData.userInfo.user_id);	
				       storage.setItem("checkUser_nickname",liData.userInfo.nickname);  
				       storage.setItem("checkUser_heading",liData.userInfo.heading);
				       storage.setItem("checkUser_sex",liData.userInfo.sex);
				       storage.setItem("checkUser_birthday",liData.userInfo.birthdayStr);
				       storage.setItem("checkUser_job",liData.userInfo.job);
				       storage.setItem("checkUser_city",liData.userInfo.city);
        
					   /* var numberid=id.split("li")[1];     
					    alert("tap"+numberid);*/
					    //传值给详情页面，通知加载新数据
					    /*mui.fire(detailPage,'getUserDetail',{
					    	id:'11',
					    	url:"list-userinfodetail.html"
					    	,liData:liData
					    });*/
					    
					  //打开详情
					 mui.openWindow({
					    id:'user-info.html',
					    url:'user-info.html'
					  });
					    
					});	
			}
			
	</script>		
	</body>

</html>
